@use '../styles/constants/colors';

.background {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: colors.$FONT;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 100%;
  padding: 40px 0;
  background-image: url('../assets/imgs/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
