@use '../../../styles/mixins/guide';
@use '../../../styles/constants/colors';

.guide {
  @include guide.guide;
}

.tableIcon {
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}

.tteokIcon {
  width: 70px;
  height: 70px;
}
