@use '../../styles/constants/sizes';

.tableTitle {
  margin-bottom: 10px;
  font-size: sizes.$TITLE;
}

.totalNumberTitle {
  font-size: sizes.$SUB;
  text-align: center;
}

.table {
  position: relative;

  .tableIcon {
    width: 300px;
    height: 300px;
    margin: 60px 0;
  }

  .tableDesign {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 210px;
    height: 210px;
    transform: translate(-50%, -50%);
  }
}
