@use '../../../styles/mixins/guide';
@use '../../../styles/constants/colors';

.guide {
  @include guide.guide;
}

.riceCakeIcon {
  width: 100px;
  height: 100px;
  fill: colors.$BLACK;
}

.tableImg {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
